.ks-status-error {
   font-size: 288px;
   display: flex;
   justify-content: center;
   margin-top: 150px;
   margin-bottom: 60px;
}
.ks-message-error {
   display: block;
   margin: auto;
   justify-content: center;
   text-align: center;
   font-weight: 500;
   font-size: 36px;
}

.ks-return-link {
   display: flex;
   justify-content: center;
   text-align: center;
   cursor: pointer;
   font-size: 500;
   font-size: 18px;
   margin-top: 180px;
   margin-bottom: 100px;
   text-decoration: underline;
   color: #ff6060;
}

@media (max-width: 600px) {
   .ks-message-error {
      font-size: 25vw;
   }
   .ks-status-error {
      width: 70%;
      font-size: 5vw;
   }
   .ks-return-link {
      font-size: 5vw;
   }
}
