.header {
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-bottom: 2vw;
}

.logo {
   width: 15vw;
   cursor: pointer;
}

@media (max-width: 600px) {
   .header {
      margin-bottom: 4vw;
   }
   .logo {
      width: 40vw;
   }
}
